/* resert code */
body, h1, h2, h3, h4, h5, h6, ul, li{
    padding: 0px;
    margin: 0px;
 }
 
 /* thuoc tinh dung chung */
 
 .bg-main{
    background-color: black;
 }
 .box{
    padding: 0px 15px;
 }
 
 /* xac dinh cac class su dung de tao kich thuoc */
@media screen and (min-width: 768px){
    .w20{width: 20%;}
    .w25{width: 25%;}
    .w33{width: 33.3%;}
    .w40{width: 40%;}
    .w50{width: 50%;}
    .w60{width: 60%;}
    .container{width: 1200px; margin: 0px auto; font-style:unset;}
    .left{float: left;}
    .right{float: right;}
    .clear{clear: both;}
 }
 #header{
    background-color:#000000  ;
    height: 40px;
    display: flex;
    padding: 10px 10px;
    justify-content: space-between;
 }
 #header .logo img{
    width: 100px;
    height: 45px;
    margin-left: 15px;
    margin-top: -5px;
 }

 #header .menu{
    align-items: center;
    margin-left: 290px;
    display: flex;
    font-size: 20px;
    list-style-type: none;
    margin-top: -13px;
 
 }
 #header .menu ul li:hover{
    background-color:#8f0c0c;
    margin-left: 0px;
    color: white;
 }
 #header ul li a:hover{
    color: rgb(255, 255, 255);
 }
 #header a{
    color: rgb(222, 221, 221)  ;
    text-decoration: none;
 }
 #header ul.menu>li{
    padding: 20px 20px;
    position: relative;
 }
 #header ul.menu>li>ul{
    position: absolute;
    background-color: #bf1c1c;
    list-style: none;
    margin-top: 20px;
    width: 150px;
    display: none;
 }
 #header ul.menu>li>ul>li{
    padding: 10px;
    margin-left: 10px;
 }
 #header ul.menu>li:hover>ul{
    display: block;
 }
 /* end-header */
 #news1{
  background-color: black;
 }
 #news1 img{
   width: 100%;
 }
 .news1button{
   text-align: center;

 }
 #news0{
  padding-top: 10px;
  padding-bottom: 200px;
  background-color: #000000;
  color: #e9e9e9;
  text-align: center;
  margin-top: -100px;
  font-size: 30px;
 }
 #news2{
 background-color: #000000;
 }
 #news2 img{
  width: 1000px;
  margin-left: -213px;
   
 }
 #news2 .box{
   padding: 50px 70px;
   margin-bottom:   0px;
   color: #eeeeee;;
   font-size: 25px;
   text-align: justify;
 }
 .news2content h2{
   margin-top: 20px;
   font-size: 70px;
   color: #e0e0e0;
 }
 #news2 .news2content img{
   width: 600px;
   height: 150px;
 }
#news2 button {
   padding: 20px 50px;
   background-color: #000000;
   color:#c0060f;
   font-size: 20px;
   border-radius: 20px;
   border: 3px solid #c0060f;
   margin-top: 30px;
   margin-left: 40px;
   align-items: center;

 }
 #news2 button:hover{
   background-color: #c0060f;
   color: #000000;
 }
#news3{
  padding: 30px;
   background-color:#8a0007;
}
 #news3 .box{
    padding: 0px 50px;
 }
 #news3 h1{
   font-size: 55px;
   color:#e0e1e5;
 }
 #news3 h2{
   color:#e0e1e5;
 }
 #news3 p{
  font-size: 20px;
   color: #e0e1e5;
 }
 #news4{
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #000000;

 }

 #news4 .box{
   margin: 20px;
   padding: 10px;
   box-shadow:  10px 15px 15px 1px rgba(255, 0, 0, 0.399);
   border-radius: 5px;
   background-color: #e0e1e5;
 }
 #news4 .box:hover{
   transition: 100px;
   margin-top: 5px;
   background-color:#ae1923;
   color: #f1f1f1;
 }

 #news4 img{
   width: 100%;
 }
 #news4 h2{
  margin: 20px 10px;
 }

 #news5 { 
  background-color:#f1f1f1;
}
#news5 .box{
  padding: 40px 0px;
}
#news5 h1{
  font-size: 55px;
  color:#7b2d32;
}
#news5 h2{
  color:#7b2d32;
}
#news5 p{
  color: #7b2d32;;
}
#news6 {
  padding: 50px;
}
.news6box1 img{
  float: right;
  margin-right: 20PX;
}
.contentnews6 h1 {
  font-size: 60PX;
  color:#a24047;
}
.contentnews6 h4{
  margin-bottom: 30px;
}
.news6box2{
  margin-top: 110px;
}
.news6button button{
  font-size: 20px;
  padding: 20px 100px;
  background-color: rgb(195, 0, 0);
  color: #f1f1f1;
  border: none;
  margin: 40px 50px 20px 40px;
  border-radius: 15px;

}
.news6button button:hover{
  border-radius: 15px;
  background-color: #a24047;
}
#news6 p{
  margin: 30px 160px;
  text-align: center;
  color:#7b2d32;
}
#news7{
  background-color: #f1f1f1;
  text-align: center;
}
#news7 h2{
  font-size: 20px;
}
#news7 h1{
  font-size: 50px;
  margin-bottom: 15px;
  color: #7b2d32;
}
#news7 .box{
  padding: 40px;
}
.shopitems img{
  width: 100%;
}
.shopitems{
  border:1px solid rgb(225, 222, 222);
  border-radius: 5px;
}
.shopitems h2{
  font-size: 20px;
}
.shopitems h3{
  font-size: 14px;
  color: #4f1bc5;
}

#news8 {
  margin-top: 50px;
  margin-bottom: 100px;
}
#news8 h2{
  font-size: 17px;
}
#news8 .pnews8-2 p{
  color: #c8202c;
}
.boxbodernews8{
  margin: 13px;
}
#news8 p{
  color: #908e8e;
}
#news8 button{
  background-color: #dadada;
  color:#1d2f89;
  padding: 5px 10px;
  border-radius: 3px;
  margin-bottom: 11px;
  margin-left: 5px;
  border: none;
}
#news8 .boxbodernews8:hover{
  transform: scale(1.08);
  background-color: #f8f5f5;
}
#news8 button:hover{
  background-color:#1c3091;
  color: #f1f1f1;
}



#footer .widget ul li a{
  text-decoration: none;
}
#footer .widget ul li a:hover{
  color: #5706fa;
  
}
#top-footer{

 background-color: #000000;
}
.newletter{
  background-color:#6e6e6e;
  border-radius: 15px;
  position: relative;
  top: -70px;
  color: white;
  padding: 40px;
}
.newletter .box{
  padding: 20px, 100px;
  margin-left: 193px;
}
.content-footer, .content-footer {
  color: white;
}
.newletter form{
  margin-top: 15px;
  width: 300px;
  background-color: white;
  border-radius: 20px ;
  padding: 10px 15px;
  border: none;
}
.newletter form input{
  width: 240px;
  border: 0px;
}
#footer{
  margin-top: 150px;
}
.newletter form button{
  background-color:#e9b50e;
  border: none;
  border-radius: 15px;
  padding: 10px 15px;
}
.widget ul li{
  list-style-type: none;
}
.widget ul li a{
  
  color: #eaeaea;
}